/* Styles for Project 5 */

body {
    font-family: gill-sans-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .5px;
    line-height: 1.5;
    padding: 10%;
}

h1{
    color: darkorange;
    font-weight: 800;
}

h2{
    font-weight: 400;
}

img{ 
    max-width: 100%;
}

ul{
    margin-bottom: 2rem;
}