/* Styles for Project 6 */

* {
    box-sizing: border-box; 
}

body { 
    background-color: #A2B0B0;
    color: #FFF;
    letter-spacing: 2.5px;
    font-family: le-havre, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topnav {
    overflow: hidden;
}

.topnav {
    float: left;
    color: white;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
    font-size: 35px;
    width: 100%;
}
.topnav a.active {
  color: white;
  text-decoration: none;
  margin: 36px;
}

h1 {
    background-image: url(img/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 85px;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px; 
    padding-left: 455px;
    padding-top: 40vh;
} 

h2{
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 75px;
    margin-top: 0px;
    font-size: 70px;
}

h3{
    color: #A2B0B0;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 50px;
}

h4{
    color: #A2B0B0;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 40px;
}

h5{
    color: #A2B0B0;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 40px;
}

p{
    background-color: white;
    color: #A2B0B0;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 45px;
}

.findus{
    background-color: white;
    color: #A2B0B0;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.location {
    text-decoration: underline;
}


.seasonal {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.coffee{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.milks{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.syrup {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.tea {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.teas {
    padding-left: 20px;
}

.other {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.pastries {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.panini {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.food{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

ul{
    background-color: white;
    color: #A2B0B0;
    padding-left: 50px;
    font-size: 35px; 
}

@media (min-width: 800px) {
    
    h1 {
        background-image: url(img/coffee2.jpg);
    }
    h2 {
        font-size: 50px;
        margin-left: 255px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
        font-size: 40px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    p {
        font-size: 30px;
    }
    .findus {
        margin-right: 255px;
        margin-left: 255px;
    }
    .location {

    }
    .seasonal {
        margin-right: 255px;
        margin-left: 255px;
    }
    .coffee {
        margin-right: 255px;
        margin-left: 255px;
    }
    .syrup {
        margin-right: 255px;
        margin-left: 255px;
    }
    .tea {
        margin-right: 255px;
        margin-left: 255px;
    }
    .other {
        margin-right: 255px;
        margin-left: 255px;
    }
    .pastries {
        margin-right: 255px;
        margin-left: 255px;
    }
    .panini {
        margin-right: 255px;
        margin-left: 255px;
    }
    .food {
        margin-right: 255px;
        margin-left: 255px;
    }
}